<div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
  <label class="btn btn-primary<%= active_admin yield(:active_user) %>">
    <%= link_to t(".users"), admin_users_path,
      class: "admin_users" %>
  </label>
  <label class="btn btn-primary<%= active_admin yield(:active_post) %>">
    <%= link_to t(".posts"), admin_posts_path,
      class: "admin_posts" %>
  </label>
</div>
