<div class="none_notif d-block h-100">
  <div class="header-none">
    <i class="fa fa-flag-checkered"></i>
  </div>
  <div class="content-none text-center">
    <%= t ".activity" %>
    <hr>
    <%= t ".when" %>
  </div>
</div>
