<% provide :title, @title %>
<h1 class="text-center"><%= @tips %></h1>
<section class="people">
  <ul class="people__list">
    <%= render partial: "users/user", collection: @users, as: :user %>
  </ul>
</section>
