<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    <%= t ".posts" %>
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
   <%= t ".igtv" %>
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    <%= t ".saved" %>
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    <%= t ".tagged" %>
  </a>
</div>
