<div class="instagram-card-content comments">
  <% if post.description %>
    <p class="description">
      <%= render "shared/post_description", post: post %>
    </p>
  <% end %>
  <hr>
  <%= render partial: "comments/comment", collection: post.comments.root %>
</div>
