<div class="instagram-card-content comments">
  <p class="description">
    <%= render "shared/post_description", post: post %>
  </p>
  <hr>
  <%= render partial: "comments/comment", collection: post.comments.root %>
</div>
