<div class="instagram-card-content comments">
  <%= render "shared/post_description", post: post %>
  <% if post.comments.size > Settings.top_comments %>
    <%= link_to t("view_all"), post, class: "view-all" %>
  <% end %>
  <%= render partial: "comments/comment", collection: post.top_comments %>
</div>
