<div class="search-box">
  <section class="people">
    <ul class="people__list" id="users_result">
    </ul>
  </section>
  <button type="button" class="btn btn-primary new-btn" id="load-more" >
    <%= t "load_more" %>
  </button>
</div>
