<div id="carouselExampleIndicators" class="carousel slide instagram-card-image"
  data-ride="carousel">
  <div class="carousel-inner">
    <% @post.images.each do |image| %>
      <div class="carousel-item 
        <%= image==@post.images.first ? "active" : "" %>">
        <%= image_tag image, class: "d-block w-100" %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" 
    role="button" data-slide="prev" >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators"
    role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
