<%= link_to post, class: "gallery-item", tabindex: 0 do %>
  <%= image_tag post.images.first, class: "gallery-image" %>
  <% if post.images.size > 1 %>
    <div class="gallery-item-type">
      <i class="fa fa-clone" aria-hidden="true"></i>
    </div>
  <% end %>
  <div class="gallery-item-info">
    <ul>
      <li class="gallery-item-likes">
        <i class="fa fa-heart" aria-hidden="true"></i> 56
      </li>
      <li class="gallery-item-comments">
        <i class="fa fa-comment" aria-hidden="true"></i> 2
      </li>
    </ul>
  </div>
<% end %>
