<% provide :title, @title %>
<div class="instagram-card flex-card">
  <%= render "card_images" %>
  <div class="content-wrapper" >
    <%= render "card_header" %>
    <%= render "card_content" %>
    <div class="instagram-card-footer">
    </div>
  </div>
</div>
