$rgba000: rgba(0,0,0,.0975);
$d0004: #000000d4;
$d0035: #003569;
$d999: #999;
$white: white;
$black: black;
$f9f9f9: #f9f9f9;
$d555:  #555;
$white: white;
$f8f9fa: #f8f9fa;
$d333: #333;
$rgba0002: rgba(0,0,0,0.2);
$ecd9d9: #ecd9d9;
$e3e9f0: #e3e9f0;
$dbdbdb: #dbdbdb;
$d262626: #262626;
$d003569: #003569;
$efefef: #efefef;
$d3897f0: #3897f0;
