body,
html {
  height: 100%;
  background-color: $light-grey;
}

main.container {
  animation: 0.7s popIn linear !important;
}

.container {
  max-width: 1000px;
}

.home {
  margin-top: 75px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.navbar.header {
  border-bottom: 1px solid $rgba000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: $fff !important;
}

.user-section {
  a {
    padding-left: 15px;
  }
  i.fa {
    font-size: 22px;
    color: $d0004;
  }
}

.search-form {
  input {
    font-size: 13px;
    text-align: center;
  }
}

.paging {
  margin: 0 auto;
  width: fit-content;
}

.footer {
  font-size: 12px;
  padding-top: 30px;
  ul {
    padding-left: 0;
    > li {
      display: inline;
      padding-right: 15px;
      color: $d0035;
    }
  }
  p {
    color: $d999;
  }
}

.dropbtn {
  background-color: $f8f9fa;
  color: $white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: $d333;
  border: 1px double $d555;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px $rgba0002;
  z-index: 1;
}

.dropdown-content a {
  color: $black;
  padding: 6px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: $ecd9d9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: $e3e9f0;
}

/*Login and signup*/
.bg-container {
  max-width: 2000px;
  display: flex;
  justify-content: center;
  margin-top: 65px;
  height: calc(100% - 60px);
  width: 100%;
  background: image-url("Bg4.jpg") no-repeat center;
  background-size: cover;
}

.login-form {
  width: 400px;
  height: fit-content;
  margin: 60px;
}

.signup-form {
  width: 500px;
  height: fit-content;
  margin: 60px;
}

.user-section a {
  text-decoration: none;
}

.new-btn {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $rgba0003;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px $rgba0005;
}

#triangle-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid $red;
}

.notif {
  position: absolute;
  width: 420px;
  height: 400px;
  background-color: $white;
  -webkit-box-shadow: 3px 4px 5px -2px $rgba214;
  -moz-box-shadow: 3px 4px 5px -2px $rgba214;
  box-shadow: 3px 4px 5px -2px $rgba214;
  display: none;
  border-radius: 2px;
}

.header-none {
  width: 100%;
  display: block;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.fa.fa-flag-checkered {
  margin: auto;
  font-size: 50px;
  /* margin-left: 50%; */
  padding-left: -50%;
}

.none_notif {
  display: flex;
  flex-direction: column;
  width: 99% !important;
}

.content-none {
  flex-grow: 1;
}

.exists-notif {
  margin: auto;
  width: 100% !important;
  margin-top: 20px;
}

#style-3::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $rgba0003;
  background-color: $white;
}

#style-3::-webkit-scrollbar {
  width: 6px;
  background-color: $white;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: $d333;
}

.scrollbar {
  margin-left: 0px;
  float: left;
  height: 300px;
  width: 65px;
  background: $white;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 0px;
}

#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}

.item-notif {
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  padding-left: 0px !important;
  flex-grow: 1;
}

h4.text-center.mt-4 {
  font-size: 20px;
}

.text-content {
  font-size: 16px;
  color: $black;
  width: 70%;
}

.icon-notif {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-notif i.fa {
  font-size: 30px;
  color: $d387;
}

.box-notif {
  padding-left: 15px;
  cursor: pointer;
}

.notif_not_login {
  margin-top: 30%;
}

img.avatar_image {
  margin-right: 6px !important;
}

.name_text {
  display: flex;
  width: 80%;
}

.box_notif_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $d4267;
  border-bottom: 1px solid $b9b9b9;
  padding-bottom: 3px;
}

.box_notif_item.read {
  background-color: $white;
}

.box_notif_item:hover {
  background-color: $whitesmoke;
}

.item-notif {
  width: 80%;
}

.dropbtn_icon {
  color: $white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: $d333;
  background: none;
}

.dropbtn_icon:hover {
  background-color: $whitesmoke;
}

.dropdown-content-notif a {
  padding: 3px 6px;
}

.dropdown-content-notif a:hover {
  background: $c6d2;
}

.form_notif_update_delete {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.dropdown-content-notif {
  min-width: 110px;
  margin-left: -300%;
}

a.mark_read {
  text-decoration: underline;
}

h6.mark_all_read {
  margin-left: 10%;
}

.loading {
  display: none;
}

.time {
  text-align: right;
  font-size: 11px;
}

.name_text {
  width: 100%;
}

.time-text {
  width: 80%;
}

.item-notif {
  padding-left: 0px;
}

.counter.counter-lg {
  top: -21px !important;
}

.counter {
  position: relative;
  top: -23px;
  left: auto;
  z-index: 2;
  padding: 1px 7px;
  margin-left: -21px;
  font-size: 11px;
  color: $white;
  background-color: $fe12;
  border-radius: 10em;
  box-shadow: 0 2px 5px 0 $rgba0016, 0 2px 10px 0 $rgba0012;
}

.setting {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#load-notifications,
#load-more-users-table,
#load-more-posts-table,
#load-notifications:visited,
#load-more-users-table:visited {
  color: $d33739E;
  text-decoration: none;
  display: block;
  margin: 0;
}

#load-notifications:hover,
#load-more-users-table:hover,
#load-more-posts-table:hover {
  text-decoration: none;
}

#load-notifications,
#load-more-users-table,
#load-more-posts-table {
  padding: 10px;
  text-align: center;
  background-color: $d33739E;
  color: $white;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: $white;
  box-shadow: 0 1px 1px $ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}

#load-notifications:hover,
#load-more-users-table:hover,
#load-more-posts-table:hover {
  background-color: $white;
  color: $d33739E;
}

.active_relationship {
  display: flex;
  justify-content: space-evenly;
}

.confirmed_refused {
  width: 6rem;
}

.loading {
  display: none;
}

.transparent-btn {
  background-color: transparent;
  border: none;
}

.dropdown button {
  background: transparent;
  border: none;
}

.loading {
  display: none;
}

.transparent-btn {
  background-color: transparent;
  border: none;
}

.dropdown button {
  background: transparent;
  border: none;
}

.hide-element {
  display: none;
}

#load-more-posts {
  margin-top: 1rem !important;
  margin: 0px auto;
  width: fit-content;
}

.container.overflow-auto {
  background-color: $white;
}

.admin_users,
.admin_posts {
  display: block;
  color: $white;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.admin_users:hover,
.admin_posts:hover {
  text-decoration: none;
  color: $white;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.mark_all_read {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

table {
  width: 130% !important;
  margin-left: -15%;
}

table tr th {
  min-width: 10%;
}

.sort_user a {
  text-decoration: none;
}

.sort_user a:hover {
  text-decoration: none;
}

.sort_post a {
  text-decoration: none;
}

.sort_post a:hover {
  text-decoration: none;
}

.search-box {
  position: absolute;
  width: 440px;
  height: 350px;
  background-color: $white;
  -webkit-box-shadow: 3px 4px 5px -2px $rgba214;
  -moz-box-shadow: 3px 4px 5px -2px $rgba214;
  box-shadow: 3px 4px 5px -2px $rgba214;
  display: none;
  border-radius: 2px;
  overflow: auto;
}
