/*Post form*/
.new_post,
.edit_post {
  height: auto;
  border-radius: 3px;
  input[type="text"] {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}

ul#preview {
  list-style: none;
  margin: 25px auto;
  padding: 0;
  display: block;
  max-width: 600px;
}

ul#preview li {
  display: inline-block;
  margin: 0 10px 10px;
  max-width: 100px;
}

ul#preview li img {
  width: 100%;
}

/*Gallery*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
  width: 300px;
  height: 300px;
  margin: 15px;
  position: relative;
  /*flex: 1 0 18rem;*/
  margin: 1rem;
  color: $fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $rgba0002;
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  color: $fff;
}

.gallery-item-likes {
  margin-right: 2.2rem;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 0.2rem $rgba0001;
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.gallery-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/*Post show*/
.instagram-card {
  width: fit-content;
  margin: 0 auto;
  border: 1px solid $dbdbdb;
  background: $white;
  margin-top: 25px;
  border-radius: 4px;
}

.flex-card {
  display: flex;
}

.instagram-card-header {
  padding: 15px;
  display: flex;
  align-items: center;
  a {
    margin-right: 15px;
  }
  button {
    background: transparent;
    border: none;
  }
  .dropdown {
    margin-left: 550px !important;
  }
}
.instagram-card-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.instagram-card-username {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: $black;
  margin-right: 15px;
}

.instagram-card-image img.detail {
  max-width: 700px;
  max-height: 700px;
}

.instagram-card-image img.feed {
  max-width: 800px;
  min-width: 800px;
}

.instagram-card-content {
  padding: 5px 15px;
}

.comments {
  max-height: calc(100% - 205px);
  overflow-y: scroll;
}

.content-wrapper {
  width: 335px;
  max-height: 500px;
}

.instagram-card-content a {
  color: $black;
  text-decoration: none;
  font-weight: bold;
}

.instagram-card-content button {
  font-weight: bold;
}

.instagram-card-icon {
  font-size: 24px;
  color: $black;
  margin-right: 10px;
}

.instagram-bookmark {
  float: right;
  margin-right: 0;
}

.hashtag {
  color: $d007bff !important;
  font-weight: 200 !important;
}

.date {
  font-size: 10px;
  color: $d999;
  text-transform: uppercase;
}

.instagram-card-footer {
  padding: 15px;
  padding-top: 0;
  form {
    display: flex;
  }
  input[type="submit"] {
    float: right;
    color: $light-blue;
    background: transparent;
    border: 0;
    font-weight: 600;
    font-size: 1rem;
  }
  input[disabled] {
    opacity: 0.3;
  }
}

.instagram-card-input {
  border: none;
  outline: none;
  width: 90%;
}

.button_red,
.button_blue {
  display: inline !important;
  padding: 0px;
  background: none;
  border: none;
  outline: none;
}

.button_red:focus,
.button_blue:focus {
  outline: 0 !important;
  border: none;
}

form.form_for_like,
form.form_for_bookmark {
  display: inline !important;
}

.transform-scale:hover {
  transform: scale(1.3);
}

.view-all {
  font-size: 1rem;
  color: $d999 !important;
  margin-bottom: 1rem;
}
