.profile .avatar{
  .wrapper{
    width: 140px;
    height: 140px;
    margin: 40px auto;
  }
  .wrapper img{
    width: 100%;
    border-radius: 50%;
  }
}

.profile .basic-info{
  padding: 40px 0;
  .user-wrapper{
    display: flex;
  }
  .username{
    font-size: 30px;
    line-height: 40px;
    font-weight: 200;
  }
  .edit-profile{
    margin-left: 20px;
    margin-top: 5px;
  }
  .edit-profile button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $dbdbdb;
    color: $d262626;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 500;
  }
  ul.profile-stat{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 40px;
      font-size: 15px;
      span{
        color: $d262626;
        font-weight: 600;
      }
    }
  }
  .name{
    font-size: 15px;
    font-weight: 600;
  }
  .website{
    color: $d003569;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
}

.user-edit-page{
  display: flex;
  margin-top: 60px;
  min-height: 500px;
  
  .actions{
    width: 220px;
    border: 1px solid $dbdbdb;  
  }
  .details{
    flex: 1;
    border: 1px solid $dbdbdb;
    border-left:none;
  }
}

.actions{
  width: 220px;
  border: 1px solid $dbdbdb;
.nav-link{
    font-size: 14px;
    background-color: $white;
    color: $black;
    border-radius: 0;
    padding: 12px 0 12px 30px;
    &:hover{
      cursor: pointer;
    }
  }
  .nav-pills .nav-link.active{
    border-left: 2px solid;
    font-weight: 600;
  }
}

.form-edit-user{
  padding: 30px 100px 10px 50px;
.form-group, input{
    font-size: 14px;
    color: $black;
  }
  input, textarea{
    border: 1px solid $efefef;
  }
  .col-form-label{
    text-align: right;
    font-weight: 600;
  }
.avatar{
    height: 38px;
    width: 38px;
    border-radius: 50%;
  }
  .username{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0;
  }
  .change-photo{
    color: $d3897f0;
    text-decoration: none;
    font-size: 13px;
  }
  input[type='submit']{
    color: $white;
  }
}

.file_field_input {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.people{
  width:90%;
  border-radius: 3px;
  background-color: $fbfbfb;
  border:1px solid $rgbc0975;
  margin:0 auto;
  max-width: 1000px;
}

.people__person{
  padding:10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $rgbc0975;
}

.people__person:last-child{
  border:none;
}

.people__avatar{
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.people__column{
  display: flex;
  align-items:center; 
}

.people__info{
  margin-left:15px;
}

.people__username{
  display: flex;
  font-weight: 600;
  align-items: center;
  margin-bottom: 5px;
  color: $d333;
}

.people__username img{
  margin-left: 5px;
}

.people__full-name{
  color:$d999;
}

.follow_unfollow, .you{
  background-color: $d3897;
  padding:7px 13px;
  color:$white;
  border-radius: 3px;
  font-weight: 600;
  transition: all .1s linear;
  text-decoration: none!important
}

.follow_unfollow:active{
  transform: scale(.95);
}

.people__username img{
  transition:all .3s linear;
}

.people__person:hover .people__username img{
  transform: rotate(1turn);
}

.text-center {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a.link_to_user {
  padding: none!important;
  text-decoration: none;
}

.you {
  background: $white;
  color: $d007bff;
  border: 1px solid;
  cursor: not-allowed;
}

.people__username img{
  transition:all .3s linear;
}

.profile__button{
  height: 80%;
  margin-right: 20px;
  border:1px solid $rgbc0975;
  color:$black;
  padding:5px 20px;
  border-radius: 3px;
  transition: all .5s ease-in-out;
  font-weight: 600;
  text-decoration: none!important;
}

.profile__button:hover{
  color: $white;
  background-color: $d3897f0;
}
.user-tabs{
  border-top: 1px solid $efefef;
  display: flex;
  justify-content: center;
  a.tab{
    height: 35px;
    margin-right: 50px;
    line-height: 45px;
    color: $d999;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    i{
      padding-right: 1px;
    }
    &:hover{
      text-decoration: none;
    }
  }
  a.active{
    border-top: 1px solid $d262626;
    color: $d262626;
  }
}
