.profile .avatar{
  .wrapper{
    width: 140px;
    height: 140px;
    margin: 40px auto;
  }
  .wrapper img{
    width: 100%;
    border-radius: 50%;
  }
}

.profile .basic-info{
  padding: 40px 0;
  .user-wrapper{
    display: flex;
  }
  .username{
    font-size: 30px;
    line-height: 40px;
    font-weight: 200;
  }
  .edit-profile{
    margin-left: 20px;
    margin-top: 5px;
  }
  .edit-profile button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $dbdbdb;
    color: $d262626;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 500;
  }
  ul.profile-stat{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 40px;
      font-size: 15px;
      span{
        color: $d262626;
        font-weight: 600;
      }
    }
  }
  .name{
    font-size: 15px;
    font-weight: 600;
  }
  .website{
    color: $d003569;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
  }
}

.user-edit-page{
  display: flex;
  margin-top: 60px;
  min-height: 500px;
  
  .actions{
    width: 220px;
    border: 1px solid $dbdbdb;  
  }
  .details{
    flex: 1;
    border: 1px solid $dbdbdb;
    border-left:none;
  }
}

.actions{
  width: 220px;
  border: 1px solid $dbdbdb;
.nav-link{
    font-size: 14px;
    background-color: $white;
    color: $black;
    border-radius: 0;
    padding: 12px 0 12px 30px;
    &:hover{
      cursor: pointer;
    }
  }
  .nav-pills .nav-link.active{
    border-left: 2px solid;
    font-weight: 600;
  }
}

.form-edit-user{
  padding: 30px 100px 10px 50px;
.form-group, input{
    font-size: 14px;
    color: $black;
  }
  input, textarea{
    border: 1px solid $efefef;
  }
  .col-form-label{
    text-align: right;
    font-weight: 600;
  }
.avatar{
    height: 38px;
    width: 38px;
    border-radius: 50%;
  }
  .username{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0;
  }
  .change-photo{
    color: $d3897f0;
    text-decoration: none;
    font-size: 13px;
  }
  input[type='submit']{
    color: $white;
  }
}

.file_field_input {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
