<% if can?(:destroy, user) && !user.admin? %>
  <%= form_for user, url: admin_user_path(user),
    html: { method: :delete }, remote: true do |f| %>
    <%= f.submit t(".destroy"), class: "btn btn-outline-danger submit_delete_user" %>
  <% end %>
  <div class="sure d-none"><%= t ".sure" %></div>
<% else %>
  <span class="badge badge-success badge_admin"><%= t ".admin" %></span>
<% end %>
