<% provide :title, t(".title") %>
<div class="user-edit-page">
  <div class="actions">
    <%= render "users/menu_left" %>
  </div>
 <div class="details">
    <%= render partial: "users/form_edit", locals: {user: @user} %>
  </div>
</div>
